.signup {
    background-color: black;
    padding: 7%;
    color: white;
}

.login {
    background-color: white;
    padding: 7%;
    color: rgb(0, 0, 0);
}

.btn-login {
    border-radius: 20px;
}

.btn-login:hover {
    transition: 0.2s;
    transform: scale(1.1);
}

.btn-signup {
    border-radius: 20px;
}

.btn-signup:hover {
    transition: 0.2s;
    transform: scale(1.1);
}

.or-section {
    display: flex;
    justify-content: center;
    align-items: center;

}

.upload-img {
    background-color: black;
    color: white;
}

.signup-form {
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100%;
    
}

.btn-register {
    border-radius: 20px;
    padding: 10px;
}

.btn-register:hover {
    transition: 0.2s;
    transform: scale(1.1);
}

.form-update {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100%;
}
